<div class="container-fluid">
    <h2>HTML Auto Complete</h2>
    <div class="form-group">
        <input type="text" placeholder="Choose your country" class="form-control" list="countries">
        <datalist id="countries">
            <option>India</option>
            <option>US</option>
            <option>UK</option>
        </datalist>
    </div>
    <form name="frmHome">
        <h2>Material Auto Complete</h2>
        <mat-form-field>
            <mat-label>Choose Your Country</mat-label>
            <input type="text" matInput placeholder="Your Country">
        </mat-form-field>
    </form>
</div>