<!-- <div class="container-fluid">
    <h2>Color Panel</h2>
    <div (mouseover)="onMouseOver($event)" (mouseout)="onMouseOut()" class="row" style="margin: 30px; height: 100px; color: white">
        <div  class="col-4" id="red" style="background-color: red;" >
            Red
        </div>
        <div class="col-4" id="green" style="background-color: green;">
            Green
        </div>
        <div class="col-4" id="blue" style="background-color: blue">
            Blue
        </div>
    </div>
    <div>
        <h1 [ngStyle]="styleObj" class="text-center">Sample Text</h1>
    </div>
</div> -->

<div class="container-fluid">
    <div class="row">
        <div class="text-center" style="margin:auto">
            <img [src]="adImage" width="400" height="100" alt="image" (mouseover)="Ad1()" (mouseout)="Ad2()">
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <h2>Menu</h2>
        </div>
        <div class="col-6">
            <h2>Shopping</h2>
            <div style="margin:auto">
                <img [src]="offerImg" (mousedown)="onMouseDown()" (mouseup)="onMouseUp()" width="200" height="200" alt="press-img">
            </div>
        </div>
        <div class="col-3">
            <h2>Offers</h2>
            <marquee (mouseover)="onMouseOver($event)" (mouseout)="onMouseOut($event)" scrollamount="10" direction="up">
                <div>
                    <img src="assets/jbl.png" alt="jbl-speaker" width="100">
                    <div>
                        <span>40% OFF</span>
                    </div>
                </div>
                <div>
                    <img src="assets/shirt.png" alt="shirt" width="100">
                    <div>
                        <span>60% OFF</span>
                    </div>
                </div>
                <div>
                    <img src="assets/earpod.png" alt="earpod" width="100">
                    <div>
                        <span>30% OFF</span>
                    </div>
                </div>
            </marquee>
        </div>
    </div>
</div>